html {
	background-color: #FCFCFC;
	-webkit-font-smoothing: antialiased;
}

body {
	width           : 100%;
	height          : auto;
	
	margin          : 0;
	padding         : 0;
	
    overflow 		: hidden;	
	 
	background-color: #FCFCFC;
	color 			: #494949;
	
	font-size       : 13px		!important;
}

a:link {
    text-decoration : none;
    text-shadow 	: 0 0 1px rgba(0, 0, 0, 0.9);
}


.folder .dg ul {
	margin-top: 0 !important;
}

.function > div > .property-name {
	width      : 100%  !important;
	text-align : center;
}