html {
	background-color       : #FCFCFC;
	-webkit-font-smoothing : antialiased;
}

body {
	width           : 100%;
	height          : auto;
	
	margin          : 0;
	padding         : 0;
	
    overflow 		: hidden;	
	 
	background-color: #FCFCFC;
	color 			: #494949;
	
	font-size       : 13px		!important;
}

a:link {
    text-decoration : none;
    text-shadow 	: 0 0 1px rgba(0, 0, 0, 0.9);
}

.dg .main {
	margin-top   : 2px !important;
	margin-right : 2px !important;
}

.folder .dg ul {
	margin-top   : 0px !important;
	margin-right : 0px !important;
}

.function > div > .property-name {
	width      : 100%  	!important;
	text-align : center !important;
}

.dg li.title {
	background    : rgba(0, 0, 0, 0.8)  url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat !important;
	border-bottom : 1px solid rgba(0, 0, 0, 0.95) !important;
}

.dg.main .close-button {
	background-color : rgba(0, 0, 0, 0.4) !important;
}